@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 90%);
    font-family: "Google Sans", "Poppins", sans-serif;
}

header {
    background-color: hsl(0, 0%, 95%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;


}

header .Title {
    text-align: left;
}

header .Title h1 {
    margin: 0;
    font-size: 48px;
    color: hsl(0, 0%, 5%);
}

header .Title p {
    margin: 0;
    font-size: 18px;
    color: hsl(0, 0%, 30%);
}

header button {
    background-color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
}

header button a {
    color: hsl(0, 0%, 5%);
    text-decoration: none;
    font-family: "Google Sans", "Poppins", sans-serif;
    font-size: 24px;
}


section {
    padding: 20px 60px;
}
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 100%;
    height: 25px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 16px 0 0 16px;
    font-size: 16px;
}
.search-bar input[type="text"]:focus {
    outline: none;
    border-color: hsl(210, 100%, 50%);
}

.search-bar button {
    padding: 10px 20px;
    border: 1px solid hsl(0, 0%, 80%);
    border-left: none;
    border-radius: 0 16px 16px 0;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-size: 16px;
    cursor: pointer;
}